.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	max-width: 250px;
	height: 100%;
	border-radius: 0.5em;
	overflow: hidden;
}

.card-budge {
	position: absolute;
	inset: 0.5em auto auto 0.5em;
	padding: 0.25em 0.5em;
	background-color: var(--clr-secondary-200);
	border-radius: 2em;
	z-index: 1;
}

.card-content {
	padding: 0.5em 1em;
}

.card-title {
	font-weight: bold;
}

.card-poster {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.card-link {
	position: absolute;
	inset: 0;
}
