.button {
	justify-self: start;
	padding: 0.5em 1.5em;
	background-color: var(--clr-secondary-200);
	border: 0;
	border-radius: var(--border-radius-400);
	cursor: pointer;
}

.avalable {
	background-color: hsl(120, 40%, 60%);
}
.selected {
	background-color: hsl(60, 70%, 60%);
}
.sold {
	background-color: hsl(0, 0%, 70%);
}
