.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	max-width: 250px;
	height: 100%;
	border-radius: var(--border-radius-400);
	overflow: hidden;

	.badge {
		position: absolute;
		inset: 0.5em auto auto 0.5em;
		padding: 0.25em 0.5em;
		background-color: var(--clr-secondary-200);
		border-radius: var(--border-radius-600);
		z-index: 1;
	}

	.body {
		padding: 0.5em 1em;
	}

	.title {
		font-weight: var(--fw-bold);
	}

	.poster {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.link {
		position: absolute;
		inset: 0;
	}
}

// Horizontal
.card-horizontal {
	display: flex;
	justify-content: center;
	gap: 2em;
	margin-inline: calc(var(--padding) * -1);
	padding: 3em;
	background-color: var(--clr-primary-300);
	color: var(--clr-primary-100);

	.badge {
		position: absolute;
		inset: 0.5em auto auto 0.5em;
		padding: 0.25em 0.5em;
		background-color: var(--clr-secondary-200);
		border-radius: var(--border-radius-600);
		color: var(--clr-primary-400);
		z-index: 1;
	}

	.poster-wrapper {
		width: 250px;
		position: relative;
	}

	.poster {
		height: 100%;
		width: 100%;
		border-radius: var(--border-radius-400);
		object-fit: cover;
	}

	.body {
		display: grid;
		gap: 0.5em;
	}

	.text {
		width: 65ch;
	}

	.title {
		font-size: var(--fs-h1);
		font-weight: var(--fw-bold);
	}

	.sub-title {
		font-size: var(--fs-h2);
		font-weight: var(--fw-bold);
	}
}
