.tab {
	display: inline-block;
	padding: 0.75em 5em;
	background-color: var(--clr-primary-300);
	border: 0;
	border-radius: 10em;
	color: var(--clr-primary-100);
	text-transform: capitalize;
	cursor: pointer;
	transition: transform var(--animation-duration-400);
}

.tab:where(.active) {
	transform: translateY(-20%);
}
